:root {
  --sage: #a3b18a;
  --sage-dark: #6d7959;
  --warm-brown: #7a5c45;
  --cream: #f5f1ea;
  --beige: #e8dfd3;
  --pearl: #eae0c8;
  --text: #2f2f2f;
}
body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  background: var(--beige);
  color: var(--text);
}

h1 {
  font-family: 'Lora', serif;
  font-weight: 700;
}

h2,
h3 {
  font-family: 'Lora', serif;
  font-weight: 600;
}

header {
 background: var(--sage-dark);
  color: var(--cream);
  padding: 15px 0;
}

.site-header {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  min-height: 120px;
  padding: 0px 40px;
}

.header-logo {
  display: flex;
  justify-content: center;  
  align-items: center;
}

.logo img {
  width: 190px;
  height: auto;
  display: block;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

nav a {
  color: var(--cream);
  margin-right: 15px;
  text-decoration: none;
}

.hero {
  background: var(--sage);
  color: var(--cream);
  padding: 70px 0;
  text-align: center;
}

.section {
  background: var(--beige);
  padding: 40px 0;
  margin-top: 20px;
}

.section.alt {
  background: var(--beige);
}

.card {
  background: var(--pearl);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: var(--warm-brown);
  color: var(--cream);
  text-decoration: none;
  border-radius: 6px;
}

footer {
   text-align: center;
  padding: 20px;
  font-size: 14px;
  color: var(--text);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background: var(--beige);
}

